:root {
    --color-primary : #f7f4f2;
    --color-secondary : #3b3b3b;
    --color-border : #f7f4f2;
    --color-text : #9c9c9c;
    --color-title: #3b3b3b;

    --font-title: "GT Alpina";
    --font-text: "GT Alpina";
    --font-btn: "GT Alpina";
}

body {
    font-family: "GT Alpina";
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}





.title {
    font-family: var(--font-title);
    font-weight: 300;
    font-size: 23px;
    color: var(--color-title);
    letter-spacing: 3px;
    line-height: 1.4;
    text-transform: uppercase;
}

.text {

    font-size: 16px;
    color: var(--color-text);
    font-family: "GT Alpina";
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.7;
}

.btn {
    font-size: 14px;
    padding: 12px 28px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    background: 0 0;
    font-family: var(--font-btn);
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.5;
}

.btn__primary {
    color: #3b3b3b;
    background-color: #fff;
    font-weight: 700;
    border: none;

}

.head__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 999;
    padding: 20px 40px;
    
    
}

.head__right--img {
    width: 28px;
    height: 30px;
    margin-left: 20px;
}

.head__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.hero__section {
    background-image: url(./images/hero.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.hero {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.dropdown {
    position: absolute;
    bottom: 20%;
}

.drop__down {
    width: 40px;
    height: 40px;
}


.title-hero {
    font-family: "GT Alpina";
    font-weight: 100;
    letter-spacing: 20px;
    line-height: 1.4;
    font-size: 90px;
    color: var(--color-primary);
}

.text-hero {
    font-size: 40px;
    font-family: "GT Alpina";
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 1.5;
    color: var(--color-primary);
}

.wedding{
    position: relative;
    background-image: url(./images/wedding.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    margin-top: 50px;
}

.wedding__wrapper {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wedding__heading {

    color: var(--color-primary);
    font-size: 65px;
    font-family: "GT Alpina";
    font-weight: 100;
    letter-spacing: 10px;
    line-height: 1.5;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.marketing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 27px;
}

.marketing__left, .marketing__right {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;


}

.marketing__left--img {
    width: 100%;
}

.marketing__right--img{
    width: 97%;
    object-fit: cover;
}

.marketing__text {
    font-size: 16px;
    color: #9c9c9c;
    font-family: "GT Alpina";
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.7;
    padding-bottom: 30px;
}

.marketing__title {
    font-size: 23px;
    color: #3b3b3b;
    font-family: "GT Alpina";
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 1.4;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}


.order {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 50px;
}

.order__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.order__left--img {
    width: 100%;
    object-fit: cover;
}

.order__right--title {
    font-size: 23px;
    color: #3b3b3b;
    font-family: "GT Alpina";
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 1.4;
    padding-bottom: 30px;
}

.order__right--text {
    padding-bottom: 30px;
    font-size: 16px;
    color: #9c9c9c;
    font-family: "GT Alpina";
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.7;

}


.order__right--btn {
    border: 2px solid #d3d3d3;
    text-transform: uppercase;
    color: var(--color-secondary);
}


